<link rel="import" href="../polymer/polymer.html">
<link rel="import" href="../ev-styles/colour.html">
<link rel="import" href="../ev-styles/typography.html">
<link rel="import" href="../ev-icons/ev-icons.html">
<link rel="import" href="../ev-icon-button/ev-icon-button.html">

<dom-module id="ev-popover">
  <template>
    <style>
      :host {
        cursor: default;
        display: block;
        max-width: 400px;
        outline: none;
        position: absolute;
        user-select: none;
        z-index: 1002;
      }

      :host([dark]) #popover {
        background: #646464;
        color: var(--ev-icon-fill);
        border-image: linear-gradient(to bottom, #999999, #747070);
      }

      :host([dark]) #pointer {
        background: #646464;
      }

      #popover {
        background: var(--ev-popover-background, #ffffff);
        border: 1px solid #E0E0E0;
        border-width: 1px;
        border-style: solid;
        border-image: linear-gradient(to bottom, #e0e0e0, #b2b2b2) 1 100%;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
          0 3px 1px -2px rgba(0, 0, 0, 0.12),
          0 1px 5px 0 rgba(0, 0, 0, 0.2);
        color: var(--ev-popover-text-color, var(--ev-text-secondary-color)); /* TODO: replace with ev-styles */
        display: block;
        filter: url('pop-drop.svg#pop-drop');
        font-size: 16px;
        line-height: 1.4;
        outline: none;
        padding: 20px 58px 20px 20px;

        @apply --ev-font-common-base;

        @apply --ev-popover;
      }

      #popover-close-btn {
        padding: 0px;
      }

      @keyframes keyFrameFadeInOpacity {
        0% {
          opacity: 0;
          transform: scale(0.0);
        }
        100% {
          opacity: 1;
          transform: scale(1.0);
        }
      }

      @keyframes keyFrameFadeOutOpacity {
        0% {
          opacity: 1;
        }
        100% {
          opacity: 0;
        }
      }

      .fade-in-animation {
        opacity: 0;
        animation-delay: 0ms;
        animation-name: keyFrameFadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 150ms;
        animation-fill-mode: forwards;
      }

      .fade-out-animation {
        opacity: 1;
        animation-delay: 0ms;
        animation-name: keyFrameFadeOutOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 150ms;
        animation-fill-mode: forwards;
      }

      #pointer {
        background: white;
        display: block;
        height: 20px;
        left: 50%;
        position: absolute;
        transform: rotate(45deg);
        width: 20px;
      }

      #close {
        cursor: pointer;
        height: 48px;
        position: absolute;
        right: 0;
        top: 0;
        width: 48px;
      }

      #close ev-icon {
        width: 48px;
        height: 48px;
      }

      #close ev-icon-button:hover {
        box-shadow: none;
      }

      .cancel-animation {
        animation-delay: -30s !important;
      }

      .hidden {
        display: none !important;
      }
    </style>

    <div id="popover" class="hidden">
      <slot></slot>
      <div id="close" role="button">
        <ev-icon-button id="popover-close-btn" noink icon="[[_computeIcon(dark)]]"></ev-icon-button>
      </div>
      <div id="pointer"></div>
    </div>
  </template>

  <script>
/**
`ev-popover`

EValue design popover is an element for proving useful help text to a user for
an element on a page such as an input. It will be aligned to an anchor element
specified in the `for` attribute and can be opened or closed by another element
such as a button.

Example:

    <div style="display: inline-block">
      <input type="number" placeholder="Investment amount" value="0" id="inp_amount">
      <ev-popover for="inp_amount" id="pop_amount">Popover text</ev-popover>
      <button onClick="pop_amount.show()">i</button>
    </div>

The poover can be positioned on the top|bottom|left|right of the anchor using
the `position` attribute. The default position is bottom.

    <ev-popover for="btn" position="left">Popover text</ev-popover>
    <ev-popover for="btn" position="top">Popover text</ev-popover>

### Styling
The following custom properties and mixins are available for styling:

Custom property | Description | Default
----------------|-------------|----------
`--ev-popover-background` | The background color of the tooltip | `#616161`
`--ev-popover-text-color` | The text color of the tooltip | `#666666`
`--ev-popover` | Mixin applied to the tooltip | `{}`

@customElement
@polymer
@demo demo/index.html
*/
    class EvPopover extends Polymer.Element {
      static get is() { return 'ev-popover'; }
      static get properties() {
        return {
          /**
           * The id of the element that the popover is anchored to. This element
           * must be a sibling of the popover. If this property is not set,
           * then the popover will be centered to the parent node containing it.
           */
          for: {
            type: String,
            observer: '_findTarget'
          },
          /**
           * Positions the popover to the top, right, bottom, left of its content.
           */
          position: {
            type: String,
            value: 'bottom'
          },
          /**
           * The number of pixels to offset the pointer by. Can be negative or positive.
           * If not set, the pointer defaults to the middle of the popover.
           */
          pointerOffset: Number,
          /**
           * If true, no parts of the popover will ever be shown offscreen.
           */
          fitToVisibleBounds: {
            type: Boolean,
            value: false
          },
          /**
           * The spacing between the top of the tooltip and the element it is
           * anchored to.
           */
          offset: {type: Number, value: 20},
          /**
           * The absolute top position of the tooltip to override the calculated position
           */
          absoluteTop: Number,
          /**
           * The absolute left position of the tooltip to override the calculated position
           */
          absoluteLeft: Number,
          /**
           * If true, the pointer does not display. The default is to display popovers with pointers.
           */
           noPointer: {
            type: Boolean,
            value: false
          },
          /**
           * Whether or not the popover is showing
           */
          _showing: {
            type: Boolean,
            value: false,
            reflectToAtrribute: true
          },
          /**
           * Displays a darker theme of the popover.
           */
          dark: {
            type: Boolean,
            value: false,
            reflectToAtrribute: true
          }
        };
      }

      /**
       * Returns the target element that this popover is anchored to. It is
       * either the element given by the `for` attribute, or the immediate parent
       * of the popover.
       *
       * @type {Node}
       */
      get target() {
        const parentNode = this.parentNode;
        // If the parentNode is a document fragment, then we need to use the host.
        const ownerRoot = Polymer.dom(this).getOwnerRoot();
        let target;
        if (this.for) {
          target = ownerRoot.querySelector('#' + this.for);
        } else {
          target = parentNode.nodeType == Node.DOCUMENT_FRAGMENT_NODE ?
              ownerRoot.host :
              parentNode;
        }

        return target;
      }

      ready() {
        super.ready();
        window.addEventListener('resize', () => {
          this.updatePosition();
        });
      }

      /**
       * @return {void}
       */
      connectedCallback() {
        super.connectedCallback();

        this._ensureAttribute('tabindex', -1);
        this._ensureAttribute('role', 'tooltip');
        this.$.popover.addEventListener('webkitAnimationEnd', this._onAnimationEnd.bind(this));
        this.$.close.addEventListener('click', this.hide.bind(this));

        if(this.noPointer) {
          this.$.pointer.style.display = 'none';
        }

        this._findTarget();
      }

      /**
       * Toggles the state of the popover
       * @return {void}
       */
      toggle() {
        if (this._showing) {
          this.hide();
        } else {
          this.show();
        }
      }

      /**
       * @private
       * Compute the appropriate close icon based on the theme
       * of the popover
       * @param {Boolean} dark if the popover has a dark theme
       * @return {String} icon name
       */
      _computeIcon(dark) {
        let icon = 'ev-icons-extra-large:popover-close'
        if (dark) {
          icon += '-light';
        }
        return icon;
      }

      /**
       * Shows the popover programatically
       * @return {void}
       */
       show() {
        // If the popover is already showing, there's nothing to do.
        if (this._showing) {
          return;
        }

        if (this.textContent.trim() === '') {
          // Check if effective children are also empty
          let allChildrenEmpty = true;
          let effectiveChildren = Polymer.FlattenedNodesObserver.getFlattenedNodes(this).filter(n => n.nodeType === Node.ELEMENT_NODE)
          for (let i = 0; i < effectiveChildren.length; i++) {
            if (effectiveChildren[i].textContent.trim() !== '') {
              allChildrenEmpty = false;
              break;
            }
          }

          if (allChildrenEmpty) {
            return;
          }
        }

        this._showing = true;
        this.$.popover.classList.remove('hidden');
        this.$.popover.classList.remove('cancel-animation');
        this.$.popover.classList.remove('fade-out-animation');
        this.updatePosition();
        this._animationPlaying = true;
        this.$.popover.classList.add('fade-in-animation');
      }

      /**
       * Hides the tooltip programatically
       * @return {void}
       */
      hide() {
        if (!this._showing) {
          return;
        }

        if (this._animationPlaying) {
          this._showing = false;
          this._cancelAnimation();
          return;
        } else {
          // Play Exit Animation
          this._onAnimationFinish();
        }

        this._showing = false;
        this._animationPlaying = true;
      }

      /**
       * @return {void}
       */
       updatePosition() {
        if (!this._target || !this.offsetParent) {
          return;
        }

        const offset = this.offset;
        const absoluteTop = this.absoluteTop;
        const absoluteLeft = this.absoluteLeft;

        const parentRect = this.offsetParent.getBoundingClientRect();
        const targetRect = this._target.getBoundingClientRect();
        const thisRect = this.getBoundingClientRect();
        const horizontalCenterOffset = (targetRect.width - thisRect.width) / 2;
        const verticalCenterOffset = (targetRect.height - thisRect.height) / 2;

        let absoluteTopSet = false;
        let absoluteLeftSet = false;
        let targetLeft = targetRect.left - parentRect.left;
        let targetTop = targetRect.top - parentRect.top;

        if (typeof absoluteTop != 'undefined') {
          absoluteTopSet = true;
          targetTop = absoluteTop;
        }

        if (typeof absoluteLeft != 'undefined') {
          absoluteLeftSet = true;
          targetLeft = absoluteLeft;
        }

        let tooltipLeft, tooltipTop, pointerTop, pointerLeft;
        switch (this.position) {
          case 'top':
            tooltipLeft = targetLeft;
            tooltipTop = absoluteTopSet ? targetTop : targetTop - thisRect.height - offset;
            pointerTop = 'calc(100% - 11px)';
            break;
          case 'bottom':
            tooltipLeft = targetLeft;
            tooltipTop = absoluteTopSet ? targetTop : targetTop + targetRect.height + offset;
            pointerTop = 'calc(0% - 11px)';
            break;
          case 'left':
            // if absolute-top or absolute-left set tooltipTop and tooltipLeft to override the calculated values
            tooltipLeft = absoluteLeftSet ? targetLeft : targetLeft - thisRect.width - offset;
            tooltipTop = absoluteTopSet ? targetTop : targetTop + verticalCenterOffset;
            pointerTop = 'calc(50% - 11px)';
            pointerLeft = 'calc(100% - 11px)';
            break;
          case 'right':
            tooltipLeft = absoluteLeftSet ? targetLeft : targetLeft + targetRect.width + offset;
            tooltipTop = absoluteTopSet ? targetTop : targetTop + verticalCenterOffset;

            pointerTop = 'calc(50% - 11px)';
            pointerLeft = 'calc(0% - 11px)';
            break;
        }

        // TODO: need to investigate this
        if (this.fitToVisibleBounds) {
          // Clip the left/right side
          if (parentRect.left + tooltipLeft + thisRect.width > window.innerWidth) {
            this.style.right = '0px';
            this.style.left = 'auto';
          } else {
            this.style.left = Math.max(0, tooltipLeft) + 'px';
            this.style.right = 'auto';
          }
          // Clip the top/bottom side.
          if (parentRect.top + tooltipTop + thisRect.height > window.innerHeight) {
            this.style.bottom = parentRect.height + 'px';
            this.style.top = 'auto';
          } else {
            this.style.top = Math.max(-parentRect.top, tooltipTop) + 'px';
            this.style.bottom = 'auto';
          }
        } else {
          this.style.left = tooltipLeft + 'px';
          this.style.top = tooltipTop + 'px';
        }

        if (this.pointerOffset) {
          if (this.position === 'top' || this.position === 'bottom') {
            this.$.pointer.style.left = 'calc(50% + ' + this.pointerOffset + 'px)';
            this.$.pointer.style.top = pointerTop;
          } else if (this.position === 'left' || this.position === 'right') {
            this.$.pointer.style.left = pointerLeft;
            this.$.pointer.style.top = 'calc(50% + ' + this.pointerOffset + 'px)';
          }
        } else {
          this.$.pointer.style.top = pointerTop;
          this.$.pointer.style.left = pointerLeft;
        }
      }

      _findTarget() {
        this._target = this.target;
      }

      _cancelAnimation() {
        // Short-cut and cancel all animations and hide
        this.$.popover.classList.remove('fade-in-animation');
        this.$.popover.classList.remove('fade-out-animation');
        this.$.popover.classList.remove('cancel-animation');
        this.$.popover.classList.add('hidden');
      }

      _onAnimationEnd() {
        // If no longer showing add class hidden to completely hide tooltip
        this._animationPlaying = false;
        if (!this._showing) {
          this.$.popover.classList.remove('fade-out-animation');
          this.$.popover.classList.add('hidden');
        }
      }

      _onAnimationFinish() {
        if (this._showing) {
          this.$.popover.classList.remove('fade-in-animation');
          this.$.popover.classList.remove('cancel-animation');
          this.$.popover.classList.add('fade-out-animation');
        }
      }
    }

    window.customElements.define(EvPopover.is, EvPopover);
  </script>
</dom-module>